<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
  <symbol id="icon-search" viewBox="0 0 30 32">
  <path class="path1" d="M30 26l-7.785-7.785c1.111-1.814 1.785-3.929 1.785-6.215 0-6.626-5.375-12-12-12s-12 5.374-12 12c0 6.625 5.374 12 12 12 2.286 0 4.4-0.674 6.215-1.781l7.785 7.781c0.547 0.547 1.453 0.543 2 0l2-2c0.547-0.547 0.547-1.453 0-2zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z"></path>
  </symbol>
  </defs>
</svg>

<div class="filters">
  <div class="filters__search">
    <span class="filters__prefix"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg></span>
    <label>{{ 'search_placeholder'|t }}</label>
    <input placeholder="{{ 'search_placeholder'|t }}" class="filters__search-input" type="text" v-on:keyup.enter="doSearch" v-model="searchTerm">
    <button class="filters__search-btn" v-on:click="doSearch">{{ 'search'|t }}</button>
  </div>
  <div class="filters__cboxes">
    <div class="filters__label">{{ 'filter_by'|t }}</div>
    <div class="filters__cbox" v-for="filter in filters">
      <label><input type="checkbox" :value="filter.value" v-model="checkedFilters"> {{ filter.value|t }}</label>
    </div>
  </div>
</div>
