<div class="infobox">
  <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
    <symbol id="icon-cross" viewBox="0 0 24 24">
    <path class="path1" d="M19 4q0.43 0 0.715 0.285t0.285 0.715q0 0.422-0.289 0.711l-6.297 6.289 6.297 6.289q0.289 0.289 0.289 0.711 0 0.43-0.285 0.715t-0.715 0.285q-0.422 0-0.711-0.289l-6.289-6.297-6.289 6.297q-0.289 0.289-0.711 0.289-0.43 0-0.715-0.285t-0.285-0.715q0-0.422 0.289-0.711l6.297-6.289-6.297-6.289q-0.289-0.289-0.289-0.711 0-0.43 0.285-0.715t0.715-0.285q0.422 0 0.711 0.289l6.289 6.297 6.289-6.297q0.289-0.289 0.711-0.289z"></path>
    </symbol>
    </defs>
  </svg>

  <a href="#" class="infobox__close">
    <svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg>
  </a>
  <strong>{{ location.name }}</strong><br>
  {{ location.address }}<br>
  {{ location.zip }}, {{ location.city }}<br>
  {{ location.country }}
  <div class="infobox__contact">
    <div v-if="location.phone_number">{{ location.phone_number }}</div>
    <div v-if="location.website"><a class="infobox__weblink" :href="location.website">{{ location.website }}</a></div>
  </div>
</div>
