<div class="location">
  <div @click="showLocation" @mouseover="highlightLocation" class="location__name">{{ location.name }}</div>
  <div v-show="location.address">{{ location.address }}</div>
  <span v-show="location.zip">{{ location.zip }}, </span><span v-show="location.city">{{ location.city }}<br></span>
  <div v-show="location.country">{{ location.country }}</div>

  <div class="location__contact">
    <div v-show="location.phone_number">{{ location.phone_number }}</div>
    <div v-show="location.website"><a :href="location.website">{{ location.website }}</a></div>
  </div>

  <div class="location__features">
    {{{ location.interior_designer|displayIfTrue 'interior_designer' }}}
    {{{ location.speciality_shop_for_bath|displayIfTrue 'speciality_shop_for_bath' }}}
    {{{ location.lifestyle_store|displayIfTrue 'lifestyle_store' }}}
    {{{ location.speciality_shop_for_textiles|displayIfTrue 'speciality_shop_for_textiles' }}}
    {{{ location.furniture_store|displayIfTrue 'furniture_store' }}}
  </div>
</div>
